<footer class="pt-10">
    <div class="w-full max-w-xl mx-auto p-4 md:p-8">
        <a href="#">
            <img
                class="mx-auto mb-4 w-32 h-auto"
                src="/LogoWow.png"
                alt="Logo de la página"
            />
        </a>

        <nav class="mb-4">
            <ul class="flex justify-center items-center flex-wrap">
                <li>
                    <a
                        href="/Privacidad"
                        class="text-gray-400 mx-2 hover:text-yellow-400"
                        >Privacidad</a
                    >
                </li>
                <li>
                    <a
                        href="/Terminos"
                        class="text-gray-400 mx-2 hover:text-yellow-400"
                        >Términos de Servicio</a
                    >
                </li>
                <li>
                    <a
                        href="Cookies"
                        class="text-gray-400 mx-2 hover:text-yellow-400"
                        >Política de cookies</a
                    >
                </li>
            </ul>
        </nav>

        <div class="text-center">
            <small class="text-gray-400 text-sm">
                &copy; {new Date().getFullYear()} WarcarftCorsairs. Todos los derechos
                reservados.
            </small>
            <small class="">
                <p class="text-xs text-gray-400 mt-2">
                    Salvo que se indique lo contrario, el contenido de este
                    sitio está bajo una 
                    <a
                        rel="license"
                        href="http://creativecommons.org/licenses/by/4.0/"
                        class="hover:text-yellow-400"
                    >
                        Licencia Creative Commons Atribución 4.0 Internacional
                    </a>.
                </p>
            </small>
        </div>
    </div>
</footer>
