<main class="font-family:arial, sans text-white p-4 ">
    <h1 class="text-3xl font-bold mb-4 text-yellow-400 text-balance items-center justify-center flex">
        ☠️ WarcarftCorsairs - Listos para zarpar en el mundo pirata de World of Warcraft ☠️
    </h1>
    <section class="bg-gray-800/50 backdrop-blur  p-5 items-center justify-center block flex-col max-w-4xl mx-auto">
        <p class="text-lg mb-6 text-justify">
            ¡Bienvenido a WarcarftCorsairs, tu fuente número uno para todas las
            noticias y actualizaciones sobre el mundo pirata en World of Warcraft!
            Aquí encontrarás información sobre servidores piratas, guías de clases,
            profesiones, raids y mucho más. Nuestro equipo de entusiastas de WoW
            trabaja arduamente para brindarte contenido fresco y relevante que te
            ayudará a navegar por las aguas turbulentas del universo pirata de WoW.
            Ya seas un veterano navegante o un novato en busca de aventuras, en
            WarcarftCorsairs tenemos algo para todos. ¡Prepárate para zarpar y
            explorar con nosotros!
        </p>
    </section>
</main>